
@import url(font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Theme colors */
    --text-gray:#3f4954;
    --text-light:#686666da;
    --bg-color:#0f0f0f;
    --bg-green:#00796b;
    --white:#ffffff;
    --midnight:#104f55;

    --green:#347928;
    --mint:#C0EBA6;
    --white2:#FFFBE6;
    --yellow:#FCCD2A;



    /* Theme font-family */
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:"Lexend",cursive;
    --Livvic:"Livvic",cursive;


    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*--- Nav ---*/
.nav {
    background-color: var(--bg-green);
    padding: 0 2rem; /*1rem = 16px*/
    height: 0rem; /*collaps for toggle menu*/
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    width: 100%;
    /* display: flex; */
    position: fixed;
    z-index: 100;
}

.nav .nav-menu {
    justify-content: space-between;
}


/* Logo */
.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0 ;
    text-decoration: none;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
    color: white;
}

/* Menu list */
.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-links {
    padding: 1.6rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-links a {
    color: white;
}



/* Toggle */
.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
}

.nav .nav-items .nav-links:hover {
    background-color: var(--midnight);
}

/* .nav .nav-items .nav-links a:hover {
    color: var(--bg-green);
} */


.collapse {
    height: 30rem;
}

/* RESPONSIVE */
@media screen and (max-width:750px) {
    .nav .nav-menu, .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }
}



/*--- Banner ---*/

.banner {
    /* background-color: #e0f7fa; */
    background-image: url(../assets/images/bromo.jpg);
    background-color: rgba(0,0,0,0.24);
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 60px 20px;
    color: var(--white);
    /* margin-bottom: 20px; */
}

.banner h1 {
    padding: 16px;
    font-family: var(--Josefin);
    font-size: 2em;
}

.banner p {
    font-family: var(--Josefin);
    padding: 16px;
}

.banner .btn {
    margin: 1.8rem; 
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
    background: var(--bg-green);
    color: white ;

}
.banner .btn:hover {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--mint);
}


/*--- Content ---*/
/* .content-wrapper {
    width: 85%;
} */

.content-wrapper .section-heading {
    font-size: 24px;
    font-family: var(--Lexend);
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 10px;
    margin: 24px 36px;
    
    
}

.content-wrapper .section-heading:hover {
    padding: 4px 48px;
    background-color: var(--bg-green);
}


/*--- City Card ----*/

.city-card {
    font-family: "Inter",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#ECEFFE, #CED6FB);
}

.card-wrapper {
    max-width: 1000px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    min-height: 60vh;
    /* min-height: 100vh; */
    overflow: hidden;

}

.card-list .card-item .card-link {
    /* width: 400px; */
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;

}

.card-list .card-item .card-link::after {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #5372F0;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
 color: #5372F0;
 padding: 8px 16px;
 font-size: 0.95rem;
 font-weight: 500;
 margin: 16px 0 18px;
 background: #DDE4FF;
 width: fit-content;
 border-radius: 50px;
}

.card-list .card-link .badge .prb {
   color: #B22485;
    background: #f7DFF5;
}

.card-list .card-link .badge .mlg {
    color: #B25A2B;
    background: #FFE3D2;
}

.card-list .card-link .badge .sby {
    color: #205C20;
    background: #D6F8D6;
}

.card-list .card-link .badge .stbd {
    color: #856404;
    background: #fff3cd;
    
}
.card-list .card-link .badge .jbr {
    color: #B22485;
    background: #f7dff5;
}
.card-list .card-link .badge .bwi {
    color: #B25A2B;
    background: #FFE3D2;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;   
}

.card-list .card-link .card-button {
    height: 32px;
    width: 32px;
    color: #5372F0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background-color: #5372F0;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372F0;
    
}        

.card-list .swiper-pagination-bullet-active {
    opacity: 1;

}

.card-wrapper .swiper-slide-button {
    color: #5372F0;
    margin-top: -35px;
}

.card-wrapper .swiper-pagination {
    padding-bottom: 2vw;
}


@media screen and max (max-width: 768) {
    .card-wrapper {
        margin: 0 10px 25px;

    }
    .card-wrapper .swiper-slide-butotn {
        display: none;
    }
}

