* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* NAVBAR */
nav {
    display: flex;
    background-color: #4A628A;
    justify-content: space-around;
    color: #DFF2EB;
    height: 50px;
    align-items: center;

    /* padding: 0 20px; */
    

}

/* logo */
nav .logo {
    /* font-family: "Edu AU VIC WA NT Arrows", cursive; */
    font-family: 'pacifico', cursive;
    font-weight: bolder;
    letter-spacing: 3px;

    /* margin-left: 0; */
}

/* navbar list menu */
nav ul {
    display: flex;
    list-style: none;
    width: 40%;

    /* justify-content: space-between; */
    justify-content: flex-end;
    gap: 20px;
}

/* menu link */
nav ul li a {
    color: #B9E5E8;
    text-decoration: none;
    font-size: 0.8em;
}

/* hover menu list */
nav ul li a:hover {
    color: rgb(250, 240, 250);
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;

}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #DFF2EB;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */

/*! change pivot for span to left corner */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

/*! change pivot for span to right corner  */
.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

/* Hamburger Button Transform */
/*! rotate the first span (second child)  */
.menu-toggle input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

/*! rotate last span  */
.menu-toggle input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

/*! hide third child span */
.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
}

/* !! Toggle Mobile / Phone Size */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        /*! stitch to right side*/
        top: 0;
        width: 70%;
        height: 100vh;

        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        /* background-color: black; */

        /*! to set the side menu toggle to bottom side of navbar*/
        z-index: -1;

        background-color: #4A628A;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Slider */
.slider {
    width: 1300px;
    max-width: 100vw;  
    height: 700px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

/* slider list */
.slider .list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
}

/* slider image */
.slider .list img {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

/* slider buttons */
.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/* slider button style */
.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;

}

/* slider dots */
.slider .dots {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* slider dots style */
.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

/* active slider dots */
.slider .dots li.active {
    width: 30px;
}
/* responsive */
@media screen and (max-width:768px) { 
    .slider {
        height: 400px;
    }
}